<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<% @tweets.each do |tweet| %>
  <p><%= tweet.message %></p>
  <% ttime = tweet.tdate %>
  <font size="2"<p><%= "#{((Time.current - ttime) / 60 ).to_i}分前に投稿" %></p></font>
  <%= link_to 'つぶやきを削除', "/tweets/#{tweet.id}", method: :delete %>
  <%= link_to 'つぶやきの編集', "/tweets/#{tweet.id}/edit" %>
  <%= link_to '表示', "/tweets/#{tweet.id}" %>
  <p>-------------------------</p>
<% end %>

<p><%= link_to 'つぶやく','/tweets/new' %></p>